{
  "extends": [
    "@strv/eslint-config-node/v16",
    "@strv/eslint-config-node/optional",
    "@strv/eslint-config-node/style",
    "@strv/eslint-config-typescript",
    "@strv/eslint-config-typescript/optional",
    "@strv/eslint-config-typescript/style",
    "@strv/eslint-config-mocha"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/group-exports": "off",
    "import/exports-last": "off",
    "import/no-unused-modules": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "arrow-parens": [
      "warn",
      "always"
    ]
  }
}